@import "tailwindcss";

@theme {
    --color-sidebar-blue: #152b3c;
    --color-element-blue: #aacae3;
    --max-h-custom30: 30vh;
}

html {
    scrollbar-gutter: stable;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}